@import "static";

.homeComp {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  flex-wrap: wrap;
  margin: 50px 0 0 20px;

  .btnsContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    
    .topBtns {
      border-radius: 5px;
      outline: none;
      border: 1px solid rgb(160, 160, 160);
      background-color: #fff;
      font: 500 1rem "Roboto";
      cursor: pointer;
      transition: all 0.5s;
      padding: 5px;
      width: 100%;
     
    }
    .topBtns:hover {
      background-color: black;
      color: #fff;
    }
  }
}
